development:
  adapter:  mysql
  host:     localhost
  user:     user
  password: password
  database: pdns

production:
  adapter:  mysql
  host:     localhost
  user:     user
  password: password
  database: pdns
