#:auth_method: simple
:auth_method: ldap
:username: admin
:password: secret
:default:
  :nsserver: 'ns-01.example.com'
  :contact: "hostmaster.example.com."
  :refresh: 28800
  :retry: 7200
  :expire: 604800
  :ttl: 300

